@page "/studentoverview"
@attribute [StreamRendering(true)]

<h1>Student Overview</h1>

@if(Students == null)
{
    <p><em>Loading....</em></p>
}
else{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th></th>
                <th>Student ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Students)
            {
                <tr>
                    <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{student.StudentId}-small.jpg")" 
                        class="rounded-circle" /></td>
                    <td>@student.StudentId</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>
                        <a href="@($"studentdetail/{student.StudentId}")" class="btn btn-outline-primary btn-sm mb-1">
                            Details
                            </a>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
}